body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
}

.hero {
  background: url("/backend/frontend/img/bglogin.jpg");
  color: white;
  padding: 20rem 0;
  text-align: center;
}
.navbar .container {
  margin-left: 20px;
  background-color: blue;
}
.navbar-nav {
  gap: 20px;
}
.navbar {
  background-color: #d32f2f;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.navbar a {
  font-weight: bold;
  font-size: 17px;
}
.navbar-nav .nav-link {
  color: white !important;
}
.navbar-nav .nav-link:hover {
  color: #ffd600 !important;
}
.navbar-toggler-icon {
  background-color: white;
}
.dropdown-menu {
  border-radius: 8px;
}
.dropdown-item {
  padding: 10px 15px;
}
.dropdown-item:hover {
  background-color: #f44336;
  color: white;
}
.hero h2 {
  font-size: 3rem;
  font-weight: 700;
}
.hero p {
  font-size: 1.5rem;
}
.form-control,
.form-select {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 15px;
}

.form-label {
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
}
.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn-lg {
  font-size: 1.1rem;
  padding: 15px;
}

.btn-danger:hover {
  background-color: #c82333;
  transition: background-color 0.3s;
}
.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.hover-custom:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 576px) {
  .form-control,
  .form-select,
  .btn-danger {
    font-size: 1rem;
  }
}
.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.gallery-item img {
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item:hover img {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 10px;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-item .overlay p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 768px) {
  .gallery-item img {
    height: 100%;
    width: 100%;
  }
}
.gallery-images img {
  width: 100%;
  border-radius: 8px;
}
.footer {
  background-color: #d32f2f;
}


.profil-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 8px; 
  background-color: #fff; 
  }


  /* TABEL DATA PROFIL */
  .table {
    box-shadow: 100px 40px 550px rgba(0, 0, 0, 0.1), 500px 50px 550px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }